<div class="upper-text">{{upperMessage}}</div>
<div class="center-container">
    <div class="smile">
        <div class="eyes">
            <div class="eye">
                <div class="eye-dot">
                </div>
            </div>
            <div class="eye">
                <div class="eye-dot">
                </div>
            </div>
        </div>
        <div class="smiling-div">
        </div>
    </div>
    <div class="popup-text">{{centerMessage}}</div>
    <button class="press-button" (click)="restart()">{{buttonMessage}}</button>
</div>