:host {
  align-items: center;
  background-image: url("../assets/backgroundimg.jpg");
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
}

.blue-ellipse {
  background: linear-gradient(to top, #fc00ff 0%, #00dbde 100%);
  border-radius: 50%;
  height: 35vh;
  margin-bottom: 25%;
  margin-right: 40%;
  position: absolute;
  width: 35vh;
  z-index: 0;
}

.yellow-ellipse {
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  border-radius: 50%;
  height: 35vh;
  margin-left: 40%;
  margin-top: 40%;
  position: absolute;
  width: 35vh;
  z-index: 0;
}
