:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("static/backgroundimg.jpg");
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
    backdrop-filter: blur(100px);
    border: solid 2px;
    border-color: white;
    border-radius: 25px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #AAC2FF 0%, #C81BF1 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(101px);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}
