:host {
  align-items: center;
  background-image: url("static/backgroundimg.jpg");
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
}

.blue-ellipse {
  background: linear-gradient(to top, #fc00ff 0%, #00dbde 100%);
  border-radius: 50%;
  height: 35vh;
  margin-bottom: 25%;
  margin-right: 40%;
  position: absolute;
  width: 35vh;
  z-index: 0;
}

.yellow-ellipse {
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  border-radius: 50%;
  height: 35vh;
  margin-left: 40%;
  margin-top: 40%;
  position: absolute;
  width: 35vh;
  z-index: 0;
}

.buttons-div {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: left;
}

.play-container {
  backdrop-filter: blur(25px);
  background: linear-gradient(111.49deg, rgb(255 255 255 / 40%) -8.95%, rgb(255 255 255 / 1%) 114%);
  border: solid 2px;
  border-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.board {
  align-items: center;
  backdrop-filter: blur(101px);
  background: linear-gradient(180deg, #aac2ff 0%, #c81bf1 100%);
  border-radius: 20px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.upper-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 40px;
}

.size-div {
  background: linear-gradient(180deg, #296399 54.68%, rgb(255 255 255 / 0%) 187.46%);
  background-clip: text;
  flex-basis: 50%;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
