<div class="upper-bar">
    <div class="size-div">
        10x10
    </div>
    <div class="buttons-div">
        <button id="stepback-button" (click)="stepback()">
            STEP BACK
        </button>
        <button id="restart-button" (click)="restart()">
            RESTART
        </button>
    </div>
</div>
<div class="board" *ngIf="state | async as states">
    <app-pop-up-window [isLose]="states?.isLose" [isWin]="states?.isWin" *ngIf="checkGameOver()"></app-pop-up-window>
    <div class="grid-container">        
        <div class="square-field" *ngFor="let square of states?.squares; index as i; trackBy: trackByFn" (click)="move(i)">
            <app-square-cell [status]="square.status" [counter]="square.counter"></app-square-cell>
        </div>
    </div>
</div>
