@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    height: 100%;
    font-family: Poppins;
    overflow: hidden;
}

body {
    margin: 0px;
    height: 100%;
}